MONGO_SERVICE_PORT=27019
MONGO_SERVICE_HOST=0.0.0.0
MONGO_DB_NAME=auth
MONGODB_USERNAME=customer
MONGODB_PASSWORD=password123
POSTGRES_TEST_DB=store_test
BCRYPT_PASSWORD=password123
SALT_ROUNDS=10
TOKEN_SECRET=topsecret
TOKEN_TEST=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VyIjp7ImlkIjo5LCJ1c2VybmFtZSI6IlRhbSIsImhhc2hlZF9wYXNzd29yZCI6IiQyYiQxMCRsUm5hMGJwNWJQWlNlMk9kVHVKT1YuUXQyTzlKWWpnbDBGaE5KVWVwSThpNXJ5OC9wclZtUyJ9LCJpYXQiOjE2MjE0NjA5MjV9.QerkmhcG4r0g6u-VN5gv4zBrEdCRzvvc-g5gvEPhYSU
ENV=dev